<% include partials/header %>

<div class="jumbotron">
  <h1 class="display-4">Hubble</h1>
  <p class="lead">Blockchain. Organized. Transparent.</p>
  <hr class="my-4">
  <p>A place for investors to research companies. A place for companies to publicize their work.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/companies" role="button">Learn more</a>
  </p>
</div>

<% include partials/footer %>